.vitepress-demo-plugin__container {
  background-color: #f5f5f5;
}

.dark .vitepress-demo-plugin__container {
  background-color: #191919;
}

.vitepress-demo-plugin__container li + li {
  margin: 0;
}

.VPNav .container {
  width: unset;
  padding: unset;
}
