@import './bubble.less';
@import './bubble-list.less';
@import './bubble-tool.less';
@import './prompt.less';
@import './prompts.less';

[data-tr-color-mode='light'] {
  color-scheme: light;
}

[data-tr-color-mode='dark'] {
  color-scheme: dark;
}
